/* Google Fonts - Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

/* OneDay font - beautiful btw <3 */
@font-face {
    font-family: oneday;
    src: url(fonts/ONEDAY.ttf);
    src: url(fonts/ONEDAY.otf);
}

.container {
    display: flex;
    margin-top: 250px;
    justify-content: center;
}

.column-flex {
    display: flex;

    flex-direction: column;
}

#logo {
    display: flex;
    order: 0;
    height: 220px;
}

/* For big page titles */
#title {
    display: flex;
    justify-content: flex-end;
    order: 1;
    margin: auto;
    margin-bottom: 25px;

    font-family: oneday, Arial, sans-serif;
    font-size: 75px;
    margin-left: 25px;
}

#description {
    display: flex;
    justify-content: center;
    order: 1;
    margin: auto;
}

#ghlink {
    display: flex;
    justify-content: center;
    order: 2;
    margin: auto;
}

body {
    font-family: Lato, Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 30px;
    margin-top: 100px;
    text-align: center;
    /* Fade-in animation */
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-in {
    0% {color: black;}
    15% {color: black;}
    100% {color: white;}
}

/* Remove color from <a> links */
a {
    color: white;
    animation-name: fade-in;
    animation-duration: 2s;
}
